
.btn-social{
    background: white;
    /*border-top: 2px;
    border-bottom: 2px;
    border-left: 2px;
    border-right: 2px;
    border-style: solid;
    border-color: var(--puerple);*/
    border: 2px solid var(--purple);
    border-radius: 5px;        
}

.hero-content button{
    background: #310a90;
    padding: 10px;
    color: white;border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid var(--purple);
    border-radius: 4px;

}
      
.social-btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    
    /* justify-content: center;   con esto los elementos los centro*/
}
